.toolchain hr {
    height: 1px;
    color: #ECECEC;
    background: #ECECEC;
    font-size: 0;
    border: 0;
    margin: 20px 0;
}
.tooling-banner {
  display: flex;
  height: 200px;
  width: 100%;
  color: #fff;
  background: #EB7E6C;
  align-items: center;
  justify-content: center;
}
.tooling-banner h1 {
  font-weight: 400;
}
.toolchain .link {
  margin: 10px 15px 15px 0px;
  margin-left: 0px;
  color: #EB7E6C;
}
.toolchain h2 {
  margin-top: 20px;
}